.logo img {
    height: 40px;
    border-radius: 10px;
    box-shadow: -1px -1px 6px 0px rgba(95, 224, 233, 0.50);
}

ul li a {
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 500;
}

.active {
    background-color: #5fe0e9;
    border-radius: 8px;
    color: #2b3351;
}